#main{
  margin: auto; 
  max-width: 250px;
  max-height:600px;
  border: 3px solid rgb(0, 0, 0);
  padding: 5%;
  background-color: rgb(10, 220, 150);
  
}

#display{
  text-align: right;
}

#box{
  display: grid;
  grid-template-columns: auto auto auto; 
  max-height: 250px;
  max-width: 500px;
}

button{
    background-color: rgb(145, 181, 147);
    color: rgb(0, 0, 0);
    height: 35px;
    width: 45px;
    height: 45px;
    padding: 10%;
    
    
}

button:hover{
  background-color: yellowgreen
}


if (equals.value == "=") {
  debugger;            
}
if (operator == "+") {
  results = parseFloat(firstOperand) + parseFloat(secondOperand) 
  display.innerText = results 
  add()
} else if (operator == "-") {
  results = parseFloat(firstOperand) - parseFloat(secondOperand)
  display.innerText = results
  subtract()
} else if (operator == "*") {
  results = parseFloat(firstOperand) * parseFloat(secondOperand)
  display.innerText = results
  multiply()
} else {
  results = parseFloat(firstOperand) / parseFloat(secondOperand)
  display.innerText = (results).toFixed(3)
  divide()
} 

function add() {
  parseFloat(firstOperand) + parseFloat(secondOperand)
  
}

function subtract() {
  parseFloat(firstOperand) - parseFloat(secondOperand)
  
}

function multiply() {
 parseFloat(firstOperand) * parseFloat(secondOperand)
}

function divide() {
 parseFloat(firstOperand) / parseFloat(secondOperand)
}