#main{
  margin: auto;
  width: 5%;
  border: 3px solid rgb(0, 0, 0);
  padding: 12%;
  display: flex;
  flex-direction: column;
  
}


button{
    flex-direction: column;
}


unction displaye() {
  if (display.innerText.length === 0 ) {
      return 0; 
  } 
  
}




switch (operator) {
  case "+":
      results = parseFloat(firstOperand) + parseFloat(secondOperand);
      
      debugger;
  case "-":
      results = parseFloat(firstOperand) - parseFloat(secondOperand)
      
  case "*": 
      results = parseFloat(firstOperand) * parseFloat(secondOperand)
      
  case "/":
      results = parseFloat(firstOperand) / parseFloat(secondOperand)
      


}


if (operator = "+") {
  results = parseFloat(firstOperand) + parseFloat(secondOperand)
  display.innerText = results
  //console.log(results)
  debugger;
} else if (operator = "-") {
  results = parseFloat(firstOperand) - parseFloat(secondOperand)
  display.innerText = results
  //console.log(results)
}



function calculate() {
  if (operator = "+") {
      results = parseFloat(firstOperand) + parseFloat(secondOperand)
      display.innerText = results
      //console.log(results)
      debugger;
    } else if (operator = "-") {
      results = parseFloat(firstOperand) - parseFloat(secondOperand)
      display.innerText = results
      //console.log(results)
    }


